@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin:0;
}
body{
    font-size: 18px;
    font-family: 'Roboto', Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body>header, body>footer{
    background-color: #000;
    color: #fbf9ff;
    padding-left:1%;
    flex-basis: 100%;
}
body>footer{
    padding: 1.5em 0.5em;
}
header img{
    height:50px;
}
h1{
    font-size:2em;
    font-weight: 400;
}
h2,header {
    font-weight: 300;
    font-size: 1.5em;
}
h3{
    font-weight:200;
    font-size:1.3em;
}
nav{
    background-color: #00e0a1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
nav a{
    text-decoration: none;
    color: #000;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin: 10px 40px;
}
video{
    width: 100%;
}
#cookie-statement {
    position: fixed;
    right: 0;
    bottom:0;
    background-color: #FA0;
    opacity: 50%;
    color:#FFF;
    padding: 1.5em 0;
    width: 21.5%;
    text-align: center;
    z-index:9999;
}
#product-articles {
    width: 75%;
    flex-grow: 1;
    flex-shrink:0;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin: 5% 1%;
}
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  3% 0;
}
#product-articles article > header{
   flex-basis:100%;
}
#product-articles article p{
    flex-basis: 40%;
    flex-shrink:1;
}
#product-articles article figure{
    flex-basis: 45%;
    flex-shrink:1;
}
article img{
    width: 100%;
}
#upcoming-routes{
    width: 20%;
    flex-shrink: 0;
    flex-grow: 1; 
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    background-color: #c8f8ea;
    padding: 10% 0;
}
#upcoming-routes ol{
    padding-top:5%;
}
#upcoming-routes li{
    margin: 3% 3% 3% 0;
}

/*Product.html*/
#article1{
    grid-area: article1;
}
#article2{
    grid-area: article2;
}
#article3{
    grid-area: article3;
}
#article4{
    grid-area: article4;
}
#article5{
    grid-area: article5;
}
#article6{
    grid-area: article6;
}
#aside-product1{
    grid-area: aside-product1;
}
#aside-product2{
    grid-area: aside-product2;
}
#aside-product3{
    grid-area: aside-product3;
}
#product-grid{
    display: grid;
    padding: 10%;
    column-gap: 5%;
    row-gap: 3%;
    grid-template-areas:
    "article2 article1 article3"
    "article2 article1 article3"
    "article5 article1 article3"
    "article5 article1 article4"
    "article5 article1 article4"
    "article5 article1 article4"
    "article5 article6 article6"
    "product-imgs product-imgs product-imgs"
    "product-imgs product-imgs product-imgs"
    ;
}
#product-imgs{
    grid-area: product-imgs;
    display: grid;
    column-gap: 5%;
    grid-template-areas: 
    "aside-product1 aside-product2 aside-product3"
    "aside-product1 aside-product2 aside-product3"   
    ;
}
#product-imgs img{
    width:100%;
}
#product-grid article{
    border: solid 5px #c8f8ea;
    border-radius: 5px;
    padding: 5%;
}
table{
    grid-area: price-table;
    border-collapse: collapse;
}
td:first-child, th:first-child{
    background-color:#FF0;
}
tr:nth-child(even){
    background-color: #CFF;
}
tr:nth-child(odd){
    background-color: #FFF;
}
table, th, td {
    border-color: black;
    border-style: double;
    border-width:4px;
}
th{
    text-align:center;
}
td{
    padding: 15px;
    text-align: left;
}
#price-source{
    grid-area: price-source;
}
#smartwatch{
    grid-area: smartwatch;
}
#performance-tracker{
    grid-area: performance;
}
#vr{
    grid-area: vr;
}
#innovative-products{
    grid-area: products;
    display: grid;
    grid-template-areas: 
    "smartwatch"
    "performance"
    "vr"
    ;   
}
#innovative-products img{
    width:100%;
}
#pricelist {
    display: grid;
    grid-template-areas: 
    "price-table products" 
    "price-source products"
    ;
    gap: 5%;
}


/*Contact page*/
form{
    grid-area:form;
    width: 100%;
}
#contact-aside{
    grid-area: contact-aside;
    display:grid;
    grid-template-areas: 
    "smartwatch"
    "performance"
    "vr"
    ;
    border:#c8f8ea solid 5px;
    border-radius: 5%;
}
#contact-aside img{
    width:80%;
    border-radius: 5%;
    margin-top: 10%;
}
#contact-aside a{
    margin-left:15%;
}
#contact-page{
    display:grid;
    grid-template-areas: 
    "form contact-aside"
    ;
    gap: 20%;
    margin: 10%;
    width: 80%;
}
input, label{
    display: block;  
}
label{
    margin-top:5%;
}
input, textarea{
    border-radius: 5px;
    border: none;
    line-height: 2em;
    margin-right: 30%;
}
#submit{
    border:#000 solid 1px;
    margin-top: 5%;
}
textarea{
    width: 30rem;
    height: 20rem;
}
fieldset{
    background-color: #c8f8ea;
    border-radius: 5%;
    width:600px;
}
legend{
    font-size: 1.5em;
}
/*Media query for Mobile*/

@media screen and (max-width:480px) {
   
    #largevideo, #large-nav{
        display: none;
    }
    video{
        order:1;
    }
    section{
        order:2;
        margin: 5%;
    }
    #upcoming-route{
        order:0;
    }
    #product1{
        order:3;
    }
    #product2{
        order:2;
    }
    #product3{
        order:0;
    }
    article>p{
        flex-grow:1;
        text-align: justify;
    }
    article>figure {
        flex-basis:80%;
        margin: 5% auto 0 auto;
    }
    footer{
        order:5
    }
    .desktop, .tablet{
        display:none;
    }
    body{ 
        justify-content: flex-start;
    }
    #hamburger-nav{
        position:absolute;
        right:0;
        top: 15px;
        background-color: #000;
        color:#00e0a1;
        font-size:3em;
        padding-right: 15px;
    }
    #hamburger{
        display:none;
    }
    #hamburger-items li{
        display:block;
        width:50%;
    }
    #nav-hamburger label{
        display:inline-block;       
    }
    #hamburger-items{
        display:none;
    }
    #hamburger-nav input:checked ~ #hamburger-items{
        display: block;
        position:absolute;
        right:0;
        top: 100px;
        text-align: center;
        background-color: #00e0a1;
        font-size: 0.5em;
    }
    #product-grid{
        grid-template-areas:
        "article5"
        "article5"
        "article5"
        "article3"
        "article3"
        "article3"
        "article2"
        "article2"
        "article2"
        "article1"
        "article1"
        "article1"
        "product-imgs"
        "product-imgs" 
        "product-imgs"
        ;
        order:4;
        margin-bottom: 70%;
    }
    #product-imgs{
        grid-template-areas: 
        "aside-product1"
        "aside-product2"
        "aside-product3"
        ;
    }
    #aside-product3{
        display: block;
    }
    #cookie-statement{
        height: 3%;
    }
    #pricelist{
        grid-template-areas: 
        "price-table"
        "price-source"
        "products"
        ;
    }
    #innovative-products, #contact-aside{
        grid-template-areas: 
        "smartwatch"
        "performance"
        "vr"
        ;
    }
    #contact-page{
        grid-template-areas: 
        "form"
        "contact-aside"
        ;
        gap :5%;
    }
    textarea{
        width: 18rem;
        height:10rem;
    }
    fieldset{
        width:100%;
    }
    #contact-aside img{
        width:100%;
        margin:4.5%;
    }
    #contact-aside a{
        margin-left:0;
    }
    #contact-aside{
        border:none;
        margin-bottom:10%;
    }
}

/*Media query for Tablet*/

@media screen and (min-width: 481px) and (max-width: 1279px) {
    video{
        order:1;
    }
    section{
        order:2;
    }
    #upcoming-route{
        order:0;
    }
    #product1{
        order:3;
    }
    #product2{
        order:2;
    }
    #product3{
        order:0;
    }
    article > header{
        order:-2;
    }
    article > figure{
        order:-1;
    }
    footer{
        order:5;
    }
    #smallvideo{
        display:none;
    }
    .mobile, .desktop {
        display: none;
    }
    #product-grid{
        grid-template-areas:
        "article1 article2"
        "article1 article2"
        "article3 article2"
        "article3 article5"
        "article3 article5"
        "article3 article5"
        "article6 article6"
        "article6 article6"
        "product-imgs product-imgs"
        "product-imgs product-imgs"
        ;
        order:4;
        margin-bottom: 20%;
    }
    #product-imgs{ 
        grid-template-areas: 
        "aside-product1 aside-product2"
        "aside-product1 aside-product2"
        ;
    }
    #pricelist{
        grid-template-areas: 
        "price-table"
        "price-source"
        "products"
        ;
    }
    #innovative-products{
        grid-template-areas: 
        "performance vr"
        ;
    }
    textarea{
        width: 18rem;
        height:10rem;
    }
    fieldset{
        width:100%;
    }
    #contact-aside img{
        width:90%;
        padding:5%;
    }
    #contact-aside a{
        margin-left:0;
    }
}

/*Desktop*/

@media screen and (min-width: 1280px) {
    #smallvideo, .mobile, #hamburger-nav{
        display: none;
    }
}